/data
!/data/content
*~
*.kate-swp
/www/*
!/www/dev
!/www/en
data/sources/synonyms/thesaurus_en.txt
/www/en/libs/external
www/en/data
www/en/sitemap*
www/en/pub/js/bundle-*
www/en/pub/css/bundle-*
www/en/admin/pub/js/bundle-*
www/en/admin/pub/js/bundle-*
